@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: 'Geist Mono', monospace;
}

:root {
  --ui-bg: white;
  --ui-primary: var(--color-neutral-800);
  --ui-foreground: var(--color-neutral-700);

  letter-spacing: -0.05em;
  font-family: var(--font-mono);
  font-weight: 500;
}

.dark {
  --ui-bg: var(--color-neutral-950);
  --ui-primary: var(--color-neutral-100);
  --ui-foreground: var(--color-neutral-100);
}

html {
  background-color: var(--ui-bg);
  color: var(--ui-foreground);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
